

.App{
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table.footer{
  text-align: center;
  bottom: 10px; 
  width: 100%;
  position: fixed;
  z-index:1001; 
}

th.footer{
  text-underline-position: below;
}

.flexParent{
  display:flex;   
  flex-direction: column;
}

div.outsideDiv{
  
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  position:relative;
  z-index:1001;
  flex: 1;
  margin-bottom: 5%;
}

.slider{
  width: 80%;
  padding-left: 20%;
}
.body{
  overflow: scroll;
}

.background{
  background-color: #bb1f14;
  position: fixed;
 height: 100%;
 width: 100%;
 z-index:998;
  
  
}

.tablecentering{
  padding-left: 20%;
  width: 80%;
}

div#wavecontainor{
  background-image: url("./Assets/wave.svg");
  width: 200vw;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: hidden;
  left: -10vw;
  right: 0vh;
  position: fixed;
  bottom: -10vh;
  position: fixed;
  z-index:1000;
}

.hide{
  display: none;
}

table.ProgressBar{
  padding-left: 20%;
  text-align: center;
  width: 80%;
  height: 10px;
  border-collapse:separate;
}

td.currentstep{
  width: auto;
  background-color: rgb(41, 168, 41);
  border-radius:9px;
  -moz-border-radius:6px;
  height: 100%; 
}

td.notcurrentstep{
  width: auto;
  border-radius:9px;
  -moz-border-radius:6px;
  height: 100%;
  background-color: grey;
}

image{
  height: 20%;
  display: block; 
}

.main{ 
  margin-top: 2px;
  margin-bottom: 2px;
  border-color: black;
  text-align: center;
}


@media ( max-width: 400px ){  
  .flexParent{ 
      flex-direction: column;} 
}

.list {
  width: 25px;
}

.vjueHeader{
  margin-left: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}



.divider{
  padding-bottom: 20px;
}

.searchbox{
  text-align: center;
}

img.heroPic{ display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  min-width: 220px;
  max-width: 300px;
  }

.searchresult{
  text-align: center;
}

p{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.next{
  margin-left: 20px;
  float: left;
  font-weight: bold;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.white {
  color: #ffffff;
}


#intro input, #intro select, #intro textarea {
  color: #ffffff;
}

#intro a {
  color: #1b0101;
}

  #intro a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
  }

#intro strong, #intro b {
  color: #ffffff;
}


#intro h1 {
  font-size: 6rem;
  line-height: 1,4;
}

#intro p {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: -0.25rem;
  text-align: center;
  width: 400px;
  margin-left: 55px;
}

#intro img {
  
  max-width: 120px;
  max-height: 120px;
  margin-bottom: -68px;
  margin-left: 210px;

}