.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  margin: 0;
  font-family: 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.debug{ 
  border-style: solid; }

.hide{
  display: none;

}

image{
  height: 100px;
  display: block; 
}

.main{ 
  flex: 1;
  margin-top: 2px;
  margin-bottom: 2px;
  border-color: black;
  text-align: center;
 
}

div.hide{
  display: none;

}


@media ( max-width: 400px ){  
  .flexParent{ 
      flex-direction: column;} 
}

.list {
  width: 25px;
}
  

.next{
  margin-left: 20px;
  float: left;

}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}




.white {
  color: #ffffff;
}



intro::

#intro input, #intro select, #intro textarea {
  color: #ffffff;
}

#intro a {
  color: #1b0101;
}

  #intro a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
  }

#intro strong, #intro b {
  color: #ffffff;
}


#intro h1 {
  font-size: 8rem;
  line-height: 1;
}

#intro p {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: -0.25rem;
  text-align: center;
}